
# For more information on how to configure this file, please see:
# https://github.com/fishtown-analytics/dbt/blob/master/sample.profiles.yml

hacknight:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: xb23606.eu-west-1
      user: haraldm
      password: **********
      role: SYSADMIN
      database: HACKNIGHT
      warehouse: COMPUTE_WH
      schema: PUBLIC
      threads: 1
      client_session_keep_alive: False
